
.gfont {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5;
    font-style: normal;
}

nav {
    background: linear-gradient(135deg, #0A1A2F, #0F4C81);
    padding: 15px 0;
    width: 100%;
    position: fixed;
    z-index: 1000; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #F2F2F2;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    padding: 5px 0;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #C8102E;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #D9D9D9; 
}

nav ul li a:hover::after {
    width: 100%;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #FFFFFF, #F7F9FC, #F2F2F2);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.big {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    padding: 80px 20px 40px;
    color: #0A1A2F;
}

.big h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.big h2 {
    font-size: 2rem;
    margin-bottom: 1px;
}
.big p {
    font-size: 1.2rem;
    color: #0F4C81;
}

.features {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: white;
    width: 260px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.card h3 {
    color: #0A1A2F;
    margin-bottom: 8px;
}

.card p {
    color: #555;
}

.catchprase {
    text-align: center;
    color:#C8102E;
    font-style: oblique;
}

.attractions {
    list-style: none;
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 1100px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.attractions li {
    background: #ffffff;
    border-radius: 12px;
    padding: 25px 20px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.attractions li:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.attractions h2 {
    color: #0A1A2F;
    margin-bottom: 8px;
    font-size: 1.6rem;
}

.attractions h3 {
    color: #0F4C81;
    font-size: 1rem;
    font-weight: normal;
}

.culture-list {
    list-style: none;
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.culture-list li {
    background: #ffffff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.25s ease;
}

.culture-list li:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 22px rgba(0,0,0,0.12);
}

.culture-list img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.culture-list h2 {
    margin: 15px 15px 8px;
    color: #0A1A2F;
    font-size: 1.5rem;
}

.culture-list p {
    margin: 0 15px 20px;
    color: #555;
    font-size: 1rem;
}

.restaurant-list {
    list-style: none;
    max-width: 1000px;
    margin: 40px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.restaurant-list li {
    background: #ffffff;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.25s ease;
}

.restaurant-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}

.restaurant-list img {
    width: 160px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.restaurant-list h2 {
    margin: 0;
    color: #0A1A2F;
    font-size: 1.4rem;
}

.restaurant-list p {
    margin: 5px 0 0;
    color: #555;
}

.events-list  {
    font-family: "Josefin Sans", sans-serif;
    list-style: none;
    padding: 0;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event-card {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: 0.25s ease;
}

.event-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 22px rgba(0,0,0,0.12);
}

.event-date {
    background: #196dc1; 
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 20px;
}

.event-date .day {
    font-size: 22px;
    line-height: 1;
}

.event-date .month {
    font-size: 14px;
    letter-spacing: 1px;
}

.event-info h2 {
    font-size: 22px;
}

.event-info p {
    margin: 5px 0 0;
    color: #555;
}

.outdoor {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.outdoor h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.2rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}

.feature img {
    width: 45%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
}

.feature .text h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-family: "Josefin Sans", sans-serif;
}

.feature .text p {
    font-size: 1rem;
    color: #333;
    font-family: "Josefin Sans", sans-serif;
}

.feature:nth-child(even) {
    flex-direction: row-reverse;
}

.outdoor-videos {
    width: 90%;
    max-width: 1100px;
    margin: 60px auto;
}

.outdoor-videos h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
}

.video-row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.video {
    width: 45%;
    min-width: 300px;
}

.video h3 {
    margin-bottom: 10px;
}

video {
    width: 100%;
    border-radius: 12px;
    outline: none;
}

s.family {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.family h2 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.2rem;
}

.family-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0;
}

.family-card {
    font-family: "Josefin Sans", sans-serif;
    background: #ffffffcc;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.25s ease;
}

.family-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 22px rgba(0,0,0,0.12);
}

.family-card .info h3 {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.family-card p {
    margin-bottom: 10px;
}

.family-card iframe {
    width: 100%;
    height: 250px;
    border: 0;
    border-radius: 12px;
}

.contact-wrapper {
    max-width: 650px;
    padding-top: 100px;  
    margin: 0 auto 40px;
    text-align: center;
}



.contact-wrapper h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.contact-desc {
    font-size: 16px;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-family: inherit;
}

.contact-form button {
    background: #e63946;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.25s;
}

.contact-form button:hover {
    background: #b72835;
}
